/* Normalize CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Estilos Base */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do Botão */
.btn {
    padding: 0.313rem 2rem; 
    border-radius: 20px;
    border: 3px solid;
    color: #111;
    background-color: #fff;
    font-size: 1rem; 
    cursor: pointer;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}


.btn p {
    color: #353333;
    font-weight: bold;
    opacity: 0.8;
}

.btn:hover {
    transform: scale(1.1);
}

/* Estilos do Container Modal */
.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

/* Estilos do Modal */
.modal {
    width: 60%;
    min-width: 400px;
    min-height: 200px;
    background-color: #ffffff68;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 2.5rem;
    border-radius: 10px;
    position: relative;
}

/* Estilos do Botão Fechar */
.fechar {
    top: 0.625rem;
    right: 0.625rem; 
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
}

/* Estilos do Título do Modal */
.modal h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbowAnimation 1.8s infinite linear;
    position: relative;
}

/* Estilos de Texto em Negrito */
.strong {
    font-weight: bold
}

/* Animação Arco-Íris */
@keyframes rainbowAnimation {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

/* Estilos do Parágrafo do Modal */
.modal p {
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

/* Animação do Texto do Modal */
.mostrar .modal p {
    animation: animate-text 0.5s ease forwards 0.1s;
}

@keyframes animate-text {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animate-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Mostrar o Container do Modal */
.modal-container.mostrar {
    display: flex;
}

/* Animação de Mostrar o Modal */
.mostrar .modal {
    animation: animate-modal .3s;
}

/* Estilos do Container */
.container {
    align-items: center;
    display: flex;
}

/* Estilos do Segundo Modal */
#upgrade-modal-container {
    display: none;
}

#upgrade-modal-container.mostrar2 {
    display: flex;
}

#upgrade-modal-container .modal {
    /* Reutilize os estilos da classe .modal */
    width: 60%;
    min-width: 400px;
    min-height: 200px;
    background-color: #ffffff68;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 2.5rem;
    border-radius: 10px;
    position: relative;
}

#upgrade-modal-container .fechar {
    /* Reutilize os estilos da classe .fechar */
    top: 0.625rem;
    right: 0.625rem; 
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
}

#upgrade-modal-container h1 {
    
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbowAnimation 1.8s infinite linear;
    position: relative;
}

#upgrade-modal-container .modal p {
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

#upgrade-modal-container.mostrar2 .modal p {
    animation: animate-text 0.5s ease forwards 0.1s;
}

.new {
    font-weight: bold;
}


.btn-secondary {
    padding: 0.313rem 2rem; 
    border-radius: 20px;
    border: 3px solid;
    color: #111;
    background-color: #fff;
    font-size: 1rem; 
    cursor: pointer;
    position: absolute;
    top: 1.25rem; 
    right: 1.25rem;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.btn-secondary p {
    color: #353333;
    font-weight: bold;
    opacity: 0.8;
}

.btn-secondary:hover {
    transform: scale(1.1);
}



/* Estilos do Input */
input {
    width: 100%;
    height: 3.125rem; 
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    font-size: 1.25rem; 
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Estilos do Botão Seletor de Cor */
.color-picker-btn {
    cursor: pointer;
    background-color: #fff;
    border: 3px solid;
    border-radius: 25px;
    padding: 0.625rem;
    margin-left: 0.625rem;
    height: 1.125rem;
}

.color-picker-btn i {
    color: #111;
    font-size: 1.25rem;
}

/* Estados de Transição */
.transition-out {
    color: transparent;
}

.transition-in {
    color: inherit;
}

/* Media Queries */
@media only screen and (max-width: 37.5em) {
    .container {
        width: 90%;
        max-width: none;
    }

    input {
        font-size: 1rem;
    }

    .btn {
        top: 1rem;
        left: 1rem;
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
    }

    .modal {
        width: 90%;
        min-width: auto;
        padding: 1.25rem;
        font-size: 1rem;
    }

    .modal h1 {
        font-size: 2rem;
    }

    .modal p {
        font-size: 1.25rem;
    }

    .fechar {
        top: 0.3125rem;
        right: 0.3125rem;
        width: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 64em) {
    .modal {
        width: 70%;
        max-width: 800px; 
        padding: 3rem; 
        font-size: 1.25rem;
    }

    .modal h1 {
        font-size: 3rem;
        margin-bottom: 1rem; 
    }

    .modal p {
        font-size: 1.5rem; 
        margin-bottom: 1.5rem; 
    }

    .fechar {
        top: 0.625rem;
        right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        font-size: 0.875rem;
    }
}


@media only screen and (max-width: 37.5em) and (orientation: portrait) {
    .btn {
        top: 1rem;
        left: 1rem;
        padding: 0.625rem 1.25rem;
    }

    .modal {
        width: 90%;
        padding: 1.875rem;
    }

    .fechar {
        top: 0.625rem;
        right: 0.625rem;
        width: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
    }

    .modal h1 {
        font-size: 2rem;
    }

    .modal p {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 37.5em) {
    #upgrade-modal-container .modal {
        width: 90%;
        min-width: auto;
        padding: 1.25rem;
        font-size: 1rem;
    }

    #upgrade-modal-container .modal h1 {
        font-size: 2rem;
    }

    #upgrade-modal-container .modal p {
        font-size: 1.25rem;
    }

    #upgrade-modal-container .fechar {
        top: 0.3125rem;
        right: 0.3125rem;
        width: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 64em) {
    #upgrade-modal-container .modal {
        width: 80%;
        padding: 1.875rem;
    }

    #upgrade-modal-container .fechar {
        top: 0.625rem;
        right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 37.5em) and (orientation: portrait) {
    #upgrade-modal-container .modal {
        width: 90%;
        padding: 1.875rem;
    }

    #upgrade-modal-container .fechar {
        top: 0.625rem;
        right: 0.640rem;
        width: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
    }

    #upgrade-modal-container .modal h1 {
        font-size: 2rem;
    }

    #upgrade-modal-container .modal p {
        font-size: 1.125rem;
    }
    
}
